<!DOCTYPE html>
<html>
<head>


   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
   <title> Customer </title>

</head>
<body>
   
      <p>Customer</p>
      <div id = 'customeExpenses'>
            <h3>Expense   List</h3>   
            <button id = 'addExpense'>+</button>
            <button id = 'delExpense'>-</button>
            <div id='expenseList' ></div>
      </div>
   
      <br>
      <br>
      <div id = 'emailExpenses'>

            <button id='addEmail'>Add from Email</button>
      </div>
     
      <script src='./javascripts/customer.js'></script>
</body>
</html>